In [1]:
import pandas as pd

In [2]:
# pd.options.display.max_columns(50)
df = pd.read_csv("../data/raw_food_translated.csv")
df['food'] = df['food'].str.title()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2395 entries, 0 to 2394
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   food                  2395 non-null   object
 1   Caloric Value         2395 non-null   int64
 2   Fat                   2395 non-null   float64
 3   Saturated Fats        2395 non-null   float64
 4   Monounsaturated Fats  2395 non-null   float64
 5   Polyunsaturated Fats  2395 non-null   float64
 6   Carbohydrates         2395 non-null   float64
 7   Sugars                2395 non-null   float64
 8   Protein               2395 non-null   float64
 9   Dietary Fiber         2395 non-null   float64
 10  Cholesterol           2395 non-null   float64
 11  Sodium                2395 non-null   float64
 12  Water                 2395 non-null   float64
 13  Vitamin A             2395 non-null   float64
 14  Vitamin B1            2395 non-null   float64
 15  Vitamin B11           2395 non-null   float64
 16  Vitamin B12           2395 non-null   float64
 17  Vitamin B2            2395 non-null   float64
 18  Vitamin B3            2395 non-null   float64
 19  Vitamin B5            2395 non-null   float64
 20  Vitamin B6            2395 non-null   float64
 21  Vitamin C             2395 non-null   float64
 22  Vitamin D             2395 non-null   float64
 23  Vitamin E             2395 non-null   float64
 24  Vitamin K             2395 non-null   float64
 25  Calcium               2395 non-null   float64
 26  Copper                2395 non-null   float64
 27  Iron                  2395 non-null   float64
 28  Magnesium             2395 non-null   float64
 29  Manganese             2395 non-null   float64
 30  Phosphorus            2395 non-null   float64
 31  Potassium             2395 non-null   float64
 32  Selenium              2395 non-null   float64
 33  Zinc                  2395 non-null   float64
 34  Nutrition Density     2395 non-null   float64
dtypes: float64(33), int64(1), object(1)
memory usage: 655.0+ KB

In [4]:
df.isna().sum()

food                    0
Caloric Value           0
Fat                     0
Saturated Fats          0
Monounsaturated Fats    0
Polyunsaturated Fats    0
Carbohydrates           0
Sugars                  0
Protein                 0
Dietary Fiber           0
Cholesterol             0
Sodium                  0
Water                   0
Vitamin A               0
Vitamin B1              0
Vitamin B11             0
Vitamin B12             0
Vitamin B2              0
Vitamin B3              0
Vitamin B5              0
Vitamin B6              0
Vitamin C               0
Vitamin D               0
Vitamin E               0
Vitamin K               0
Calcium                 0
Copper                  0
Iron                    0
Magnesium               0
Manganese               0
Phosphorus              0
Potassium               0
Selenium                0
Zinc                    0
Nutrition Density       0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df_main_nutrients = df.loc[:,['food','Caloric Value','Fat','Sugars','Protein','Water']]
df_main_nutrients

,food,Caloric Value,Fat,Sugars,Protein,Water
0,Krim Keju,51,5.000,0.500,0.900,7.6
1,Keju Neufchatel,215,19.400,2.700,7.800,53.6
2,Requeijao Cremoso Light Catupiry,49,3.600,3.400,0.800,0.0
3,Keju Ricotta,30,2.000,0.091,1.500,14.7
4,Krim Keju Rendah Lemak,30,2.300,0.900,1.200,10.0
...,...,...,...,...,...,...
2390,Telinga Yahudi,25,0.095,0.000,0.500,91.7
2391,Jamur Enoki,1,0.099,0.034,0.062,2.7
2392,Jamur Morel,4,0.070,0.096,0.400,11.6
2393,Jamur Portabella Mentah,19,0.300,2.200,1.800,79.8
2394,Jamur Tiram,5,0.035,0.200,0.500,13.4

In [7]:
df_vitamin = df.loc[:,['food','Vitamin A','Vitamin B1','Vitamin B11','Vitamin B12','Vitamin B2','Vitamin B3',
                       'Vitamin B5','Vitamin B6','Vitamin C','Vitamin D','Vitamin E','Vitamin K']]
df_vitamin

,food,Vitamin A,Vitamin B1,Vitamin B11,Vitamin B12,Vitamin B2,Vitamin B3,Vitamin B5,Vitamin B6,Vitamin C,Vitamin D,Vitamin E,Vitamin K
0,Krim Keju,0.200,0.033,0.064,0.092,0.097,0.084,0.052,0.096,0.004,0.000,0.000,0.100
1,Keju Neufchatel,0.200,0.099,0.079,0.090,0.100,0.200,0.500,0.078,0.000,0.000,0.300,0.045
2,Requeijao Cremoso Light Catupiry,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,Keju Ricotta,0.075,0.019,0.079,0.091,0.027,0.041,0.016,0.007,0.006,0.000,0.001,0.011
4,Krim Keju Rendah Lemak,0.016,0.080,0.062,0.049,0.026,0.080,0.100,0.003,0.000,0.036,0.009,0.019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390,Telinga Yahudi,0.000,0.002,0.009,0.000,0.200,0.012,2.000,0.082,0.600,0.000,0.000,0.000
2391,Jamur Enoki,0.000,0.000,0.087,0.031,0.000,0.021,0.200,0.000,0.095,0.000,0.072,0.088
2392,Jamur Morel,0.000,0.000,0.062,0.074,0.000,0.008,0.300,0.028,0.055,0.000,0.005,0.000
2393,Jamur Portabella Mentah,0.000,0.064,0.075,0.060,0.100,3.900,1.000,0.100,0.000,0.080,0.049,0.000
2394,Jamur Tiram,0.000,0.000,0.016,0.017,0.000,0.077,0.700,0.200,0.056,0.000,0.097,0.000

In [8]:
print(df.columns.to_list())

['food', 'Caloric Value', 'Fat', 'Saturated Fats', 'Monounsaturated Fats', 'Polyunsaturated Fats', 'Carbohydrates', 'Sugars', 'Protein', 'Dietary Fiber', 'Cholesterol', 'Sodium', 'Water', 'Vitamin A', 'Vitamin B1', 'Vitamin B11', 'Vitamin B12', 'Vitamin B2', 'Vitamin B3', 'Vitamin B5', 'Vitamin B6', 'Vitamin C', 'Vitamin D', 'Vitamin E', 'Vitamin K', 'Calcium', 'Copper', 'Iron', 'Magnesium', 'Manganese', 'Phosphorus', 'Potassium', 'Selenium', 'Zinc', 'Nutrition Density']

In [9]:
df_mineral = df.loc[:,['food','Calcium','Zinc','Iron','Magnesium']]
df_mineral

                                  food  Calcium   Zinc   Iron  Magnesium
0                            Krim Keju    0.008  0.039  0.082      0.027
1                      Keju Neufchatel   99.500  0.700  0.100      8.500
2     Requeijao Cremoso Light Catupiry    0.000  0.000  0.000      0.000
3                         Keju Ricotta    0.097  0.035  0.097      0.096
4               Krim Keju Rendah Lemak   22.200  0.053  0.008      1.200
...                                ...      ...    ...    ...        ...
2390                    Telinga Yahudi   15.800  0.700  0.600     24.800
2391                       Jamur Enoki    0.000  0.096  0.099      0.034
2392                       Jamur Morel    0.000  0.069  0.056      1.600
2393           Jamur Portabella Mentah    2.600  0.500  0.300      0.000
2394                       Jamur Tiram    0.000  0.048  0.008      0.200

[2395 rows x 5 columns]

In [10]:
df_main_nutrients.sort_values(by='Caloric Value',ascending=False).head(10)

,food,Caloric Value,Fat,Sugars,Protein,Water
1437,Daging Angsa Mentah,6077,550.7,0.0,259.8,813.4
1374,Piknik Lengan Babi Mentah,5298,343.4,0.0,513.6,1875.9
1376,Piknik Lengan Babi Dimasak,5292,322.7,0.0,560.3,1351.9
1430,Daging Duck Raw,5123,498.8,0.0,145.7,615.0
1372,Bakat Babi,3683,402.3,0.0,13.2,34.9
1339,Daging Babi Daging Babi Panggang Mentah Mentah,3644,182.8,0.0,468.4,1539.6
1403,Babi Spareribs Mentah,3593,303.5,0.0,200.6,775.0
1406,Dada Kalkun Mentah,3554,158.9,0.0,495.6,1585.9
999,Kelapa Kelapa Kelapa,3336,71.5,0.0,0.0,0.0
1438,Payudara Turki Dipanggang,3266,128.0,0.0,496.1,1092.4